.rhythms { margin:20px; display: none; }
.rhythms div { line-height:30px; }

span.data { font-weight:bold; }
.chart_legend { margin-bottom: 50px; text-align: center; }
.chart_legend > DIV { display: inline-block; width:150px; font-size:10pt; }
.chart_value  { font-weight: bold; }
.meditation_clr, .theta_clr { color: #1f77b4; font-size:14pt; }
.attention_clr, .delta_clr { color: #ff7f0e; font-size:14pt; }
.lowalpha_clr { color: #2ca02c; font-size:14pt; }
.highalpha_clr { color: #d62728; font-size:14pt; }
.lowbeta_clr { color: #9467db; font-size:14pt; }
.highbeta_clr { color: #8c564b; font-size:14pt; }
.lowgamma_clr { color: #e377c2; font-size:14pt; }
.highgamma_clr { color: #7f7f7f; font-size:14pt; }